@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 0, 0, 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))) fixed;
  font-size: clamp(0.875rem, 2vw, 1rem);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-wrapper {
  transform: translateZ(0);
  will-change: transform;
}

@media (prefers-reduced-motion) {
  * {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
  }
}

@media (min-width: 768px) {
  html {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2'><circle cx='12' cy='12' r='10'/></svg>")
      12 12, auto;
  }

  a,
  button,
  input,
  select,
  textarea {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23D4B98C' stroke-width='2'><circle cx='12' cy='12' r='10'/></svg>")
      12 12, auto !important;
  }
}

